Reading Data.

In [9]:
import pandas as pd

file_path = 'Final_Clustering_Dataset.xlsx'
sheet_name = 'Data'

df = pd.read_excel(file_path, sheet_name=sheet_name)

Cleaning zeros and filling null values.

In [10]:
def clean_xlsx(df):
    
    # Replace any possible definition of null values with NaN (to treat all as missing)
    null_values = [0, 'null', 'n/a', 'N/A', '-']
    df = df.replace(null_values, pd.NA)
    
    numeric_columns = df.select_dtypes(include='number').columns
    non_numeric_columns = df.select_dtypes(exclude='number').columns
    
    # Fill NaN values with the column mean for numeric columns
    df[numeric_columns] = df[numeric_columns].apply(lambda col: col.fillna(col.mean()), axis=0)

    # Fill NaN values with 'Empty' for Nominal/Ordinal columns
    df[non_numeric_columns] = df[non_numeric_columns].fillna('Empty')
    
    return df

df = clean_xlsx(df)

**REMINDER:** 'FRESH FISH & SEAFOOD' column contained **60** null values. Thus, it might not be representative. <br>
**REMINDER:** 'WI' column contained **11** null values.<br><br>

Formatting Nominal and Ordinal Data to Numerical.

In [11]:
def format_xlsx(df):
    
    # Id - Keeping numeric part from the 'store' column
    df['retail_store_id'] = df['retail_store_id'].str.extract(r'(\d+)').astype(int)

    # Floors - Replacing 'Groundfloor' with 0
    df['Floors'] = df['Floors'].replace('Groundfloor', 0)

    # Parking - Binary Nominal to Binary Numerical
    df['Parking (binary)'] = df['Parking (binary)'].replace('No', 0)
    df['Parking (binary)'] = df['Parking (binary)'].replace('Yes', 1)

    # SQM Ranges - Ordinal to Numerical
    df['SQM Ranges'] = pd.factorize(df['SQM Ranges'])[0]

    # Location - Nominal to Numerical
    location_mapping = {
        'Empty': 0,
        'Industrial': 1,
        'Open Area': 2,
        'Residential': 3,
        'Commercial': 4,
        'Retail': 5
    }
    df['Location'] = df['Location'].map(location_mapping)
    
    return df


df = format_xlsx(df)
display(df)

C:\Users\iason\AppData\Local\Temp\ipykernel_31196\1404030213.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Floors'] = df['Floors'].replace('Groundfloor', 0)
C:\Users\iason\AppData\Local\Temp\ipykernel_31196\1404030213.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Parking (binary)'] = df['Parking (binary)'].replace('Yes', 1)

,retail_store_id,avg_monthly_revenue,avg_monthly_volume,avg_monthly_promo_revenue,avg_monthly_transactions,avg_basket_spend,BABYCARE,BAKERY (SELF SERVICE),BAKERY (SERVICE),BEVERAGES WITH ALCOHOL,...,Maintenance,Routine,Stock-Up,Top-Up,Floors,# of check-outs,Parking (binary),SQM Ranges,WI,Location
0,1,7.563410e+04,3.854959e+04,462.776667,17816.666667,4.278748,0.010866,0.047504,0.000805,0.156806,...,0.005909,0.078722,0.000683,0.914686,0,2,0,0,96.9,4
1,2,1.296468e+05,7.150905e+04,30303.014167,11282.750000,11.462031,0.012706,0.053467,0.000655,0.029476,...,0.110837,0.350977,0.026063,0.512122,0,3,0,0,99.7,3
2,3,1.168685e+05,6.325381e+04,26844.837500,9471.666667,12.332127,0.009491,0.055975,0.000733,0.042603,...,0.120427,0.345028,0.029810,0.504736,1,2,0,0,139.1,3
3,4,2.505543e+05,1.360499e+05,64626.584167,20543.833333,12.183819,0.013377,0.042843,0.000092,0.039973,...,0.116928,0.362198,0.025865,0.495008,0,4,0,0,125.1,3
4,5,1.835056e+05,1.044589e+05,36642.183333,19416.750000,9.578462,0.011158,0.050433,0.000943,0.066921,...,0.078754,0.298622,0.015821,0.606803,0,3,0,0,134.5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,315,8.375183e+05,3.888288e+05,248192.440000,35454.666667,23.540322,0.012518,0.045696,0.015668,0.036066,...,0.192859,0.349761,0.117247,0.340133,3,7,1,8,113.5,3
315,316,1.262307e+06,5.227121e+05,368724.447500,34172.166667,36.664609,0.012851,0.031008,0.001386,0.059791,...,0.185583,0.270469,0.199980,0.343969,0,19,1,8,102.1,5
316,317,2.768504e+06,1.085884e+06,692705.075833,58806.166667,46.806846,0.010141,0.033872,0.002923,0.057434,...,0.198615,0.274956,0.246618,0.279810,0,22,1,8,210.6,2
317,318,9.589441e+05,4.200410e+05,290426.755000,25690.500000,36.958880,0.016684,0.036054,0.001928,0.052117,...,0.181815,0.269442,0.230239,0.318504,1,17,1,8,99.8,5
318,319,2.212307e+06,8.817089e+05,611436.796667,51627.166667,42.591111,0.009463,0.036118,0.006053,0.063871,...,0.189363,0.258831,0.238251,0.313555,0,21,1,8,123.4,3

**Data Mapping:** <br>
<br>
**Floors:** <br>
0 = Groundfloor <br>
<br>
**Parking:** <br>
0 = No <br>
1 = Yes <br>
<br>
**SQM Ranges**: <br>
     0 = 'below 400', <br>
     1 = '400-600' <br>
     2 = '600-800' <br>
     3 = '800-1000' <br>
     4 = '1000-1200' <br>
     5 = '1200-1400' <br>
     6 = '1400-1600' <br>
     7 = '1600-1800' <br>
     8 = 'above 1800' <br>
<br>
**Location**: <br>
    'Empty': 0, <br>
    'Industrial': 1, <br>
    'Open Area': 2, <br>
    'Residential': 3, <br>
    'Commercial': 4, <br>
    'Retail': 5 <br>

Exporting the Cleaned and Formatted File.

In [12]:
# df.to_excel("AB_cleaned_formatted.xlsx", index=False)